section.new-tweet {
  background-color: #eaeaea;
  border-radius: 5px;
  border-color: #fff;
  margin: 0em 2em;
  padding: 1px 10px 20px 10px;
}

.new-tweet h2 {
  border-bottom: 1px solid #000;
}

.new-tweet textarea {
  width: 100%;
  padding: 5px 5px;
}

.new-tweet span.counter {
  float: right;
  margin-top: 10px;
}

/* MAIN TWEETS */

article.tweet-post {
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  margin: 2em 2em;
  opacity: 0.5;
  
}
article.tweet-post:hover {
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  margin: 2em 2em;
  opacity: 1;
  transition: all 0.2s ease-in;
  
}

article.tweet-post:hover {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 2em 2em;
  
}

article.tweet-post header {
 background-color: #f0f0f0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-right: 0px;
 border-radius: 5px 5px 0px 0px;
}

article.tweet-post img {
 width: 50px;
 height: 50px;
 background-color: #000;
 border-radius: 10px;
 margin-left: 10px;
}

p.tweet-text  {
 padding:1em 0px;
}

article.tweet-post p {
 padding: 0px 10px;
}

.name-info {
 display: flex;
 width: 100%;
 justify-content: space-between;
}

.tweet-post header h2 {
  margin-top: 0px;
  padding: 19px 10px 20px 10px;

}

#post-tweet .error-msg {
  color: red;
  margin-left: 1rem;
  font-size: 14px;
}